<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.hf.cam_loc"
    versionCode = "1"
    version     = "1.0.0" >


  <name>location with maps and camera</name>

  <description>
    Take pictures and see them on the map
  </description>

    <!--Android 6.0 or newer: Plugin to support runtime permissions-->
    <plugin name="cordova-plugin-geolocation-android-activator"/>

    <!--Plugin to support gathering of location data-->
    <plugin name="cordova-plugin-geolocation"/>

    <!--Plugin to get camera data-->
  <!--  <plugin name="cordova-plugin-camera"/> -->

    <author href="frih1_16.worcestercomputing.com" email="frih1_16@uni.worc.ac.uk">Mobile Apps</author>

</widget>
